@import '../utils/variables';

.navbar {
  font-size: $font-reg;
  font-family: $textFont;
  color: $yellow;
  padding: 1.5rem 1rem;
  cursor: pointer;

  &__info {
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    cursor: pointer;

    &--image {
      width: 4rem;
      cursor: pointer;
    }
    &--name {
      font-size: $font-tiny;
      margin: 0 1rem;
    }
    &--price {
      font-size: $font-tiny;
    }
  }
  &__change {
    &--icon {
      color: $green;
      font-weight: 900;
      font-size: $font-big;
    }
  }
}
