.form {
  font-size: $font-big;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 2rem;
  &__input {
    border-radius: 2rem;
    padding: 0.5rem 4rem;
  }
  &__input:focus {
    outline: 3px solid $orange;
  }
  &__btn {
  }
}
