//COLORS
$yellow: #ffcc00;
$blue-dark: #18164f;
$white: #fff;
$green: #00a13b;
$orange: #ff6e00;
$red: #e80074;

//Fonts
$tagFont: 'La Belle Aurore', cursive;
$textFont: 'Roboto', sans-serif;

//Size
$font-huge: 9.3rem;
$font-h2: 7rem;
$font-big: 3rem;
$font-reg: 2rem;
$font-small: 1.8rem;
$font-tiny: 1.4rem;
